@font-face {
    font-family: hell;
    src: url(Keithor\ Demo.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: hell;
     background-color: rgb(234, 230, 230);
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 60px 1fr 0.5fr 0.5fr;
    grid-template-areas: "header header header"
                         "section section section"
                         "div1 bootomup div2"
                         "div1 bootomdown div2"
                         ;
}
header{
    background-color: violet;
    grid-area: header;
}
section{
    background-color: rgb(247, 219, 6);
    grid-area: section;
}
.div1{
    background-color: lightskyblue;
    grid-area: div1;
}

.div2{
    background-color: rgb(29, 239, 10);
    grid-area:  div2;
}
.bootomup{
 background-color: rgb(41, 10, 239);
    grid-area:  bootomup ;
}
.bootomup{
 background-color: rgb(159, 10, 239);
    grid-area:  bootomdown ;
}

