@font-face {
    font-family: hell;
    src: url(Keithor\ Demo.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     
}
html,body{
    height: 100%;
    width: 100%;
      background: red;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr;
    grid-template-rows: 50px 1fr 1fr;
    grid-template-areas: "header  header header"
               "cl cr cr"
               "dl dr drr";
    
    padding: 20px;

}

header{
    background-color: crimson;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}
header a{
    text-decoration: none;
}
#cl{
    background-color: darkcyan;
    grid-area: cl;
    
}
#cl img{
  
    object-fit: cover;
    object-position: center
    
}
#cr{
    background-color: darkmagenta;
    grid-area: cr;
}
#dl{
    background-color: lightskyblue;
    grid-area: dl;
}
#dr{
    background-color: rgb(9, 9, 252);
    grid-area: dr;
}
#drr{
    background-color: white;
    grid-area: drr;
}





