@font-face {
    font-family: hell;
    src: url(Keithor\ Demo.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: hell;
     background-color: rgb(234, 230, 230);
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1.5fr 0.6fr;
    grid-template-rows: 1fr 1.5fr 1fr;
    grid-template-areas: "lefttop topc topl"
                         "lefttop middlec rightm" 
                         "downr downc downc" 
    
    ;
}
#lefttop{
    background-color: crimson;
    grid-area: lefttop;
}
#topc{
    background-color: rgb(30, 20, 220);
    grid-area: topc;
}
#topl{
    background-color: rgb(53, 220, 20);
    grid-area: topl;
}
#middlec{
    background-color: rgb(200, 220, 20);
    grid-area: middlec;
}
#rightm{
    background-color: rgb(220, 20, 220);
    grid-area: rightm;
 
}
#downr{
    background-color: rgb(20, 220, 190);
    grid-area: downr;
}
#downc{
    background-color: rgb(20, 220, 133);
    grid-area: downc;
}

